.likesModal {
    background-color: #000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid red;
    z-index: 0;
}

.likesContainer {
    display: flex;
    position: fixed;
    width: 450px;
    height: 728px;
    background: #ffffff;
    z-index: 200;
    border: 1px solid red;
}

.likeIndexItem-likerProfilePic {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    object-fit: cover;
}