.errorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 5px 5px 5px 5px;
    background: #ff4c4c;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-top: -5px;
    top: -70px;
    transition: top .5s linear;
    border-radius: 4px;
    z-index: 1;
}

.errorMessage {
    margin: 0px 10px 14px 10px;
}

.closeError {
    display: flex;
    margin: 14px 10px;
    color: darkred;
}

.closeError:hover {
    cursor: pointer;
}

.multipleErrors {
    list-style: none;
}
