.pictureCarousel {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: scroll;
    background-color: white;
}

.pictureCarousel-top {
    display: flex;
    justify-content: center;
    height: 800px;
    background: #222222;
}

.pictureCarousel-display {
    display: flex;
    align-items: center; 
    justify-content: center;
    width: calc(100% - 64px);
    height: calc(100% - 96px);
    margin: 64px 32px 32px 32px;
}

.pictureCarousel-display-picture {
    object-fit: cover;
    max-width: 80vw;
    max-height: 700px;
}

.pictureCarousel-navLeft-active {
    position: absolute;
    left: 0;
    width: 33%;
    height: 790px;
    padding-top: 8px;
    padding-left: 8px;
    color: rgb(238,239,242);
    cursor: pointer; 
}

.pictureCarousel-navLeft-active:hover span {
    min-width: 40px;
    height: 40px;
    font-size: 24px;
    margin-top: 336px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 24px;
}

.pictureCarousel-navLeft-inactive {
    position: absolute;
    left: 0;
    width: 33%;
    height: 790px;
    padding-top: 8px;
    padding-left: 8px;
    color: rgb(238,239,242);
    cursor: pointer;
}

.pictureCarousel-navRight-active {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    width: 33%;
    height: 790px;
    padding-top: 8px;
    padding-right: 8px;
    color: rgb(238,239,242);
    cursor: pointer; 
}

.pictureCarousel-navRight-active:hover span {
    min-width: 40px;
    height: 40px;
    font-size: 24px;
    margin-top: 376px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 24px;
}

.pictureCarousel-navRight-inactive {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    width: 33%;
    height: 790px;
    padding-top: 8px;
    padding-left: 8px;
    color: rgb(238,239,242);
    cursor: pointer;
}

.pictureCarousel-close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 31px;
    font-weight: 100;
    border-radius: 40px;
}

.pictureCarousel-close:hover {
    background-color: rgba(255, 255, 255, 0.15);
    cursor: pointer; 
}

.left-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 24px;
    margin-top: 336px;
}

.right-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 24px;
    margin-top: 376px;
}

.pictureCarousel-bottom {
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    width: 100%;
    border: 1px solid red;
}

.pictureDetails {
    width: 33%;
    min-width: 380px;
    max-width: 450px;
    color: #222222;
}

.pictureDetails-likes {
    display: flex;
    flex-direction: row;
    font-size: 18px;
}

.pictureDetails-authorship {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 32px 0px 32px 0px;
    padding-bottom: 24px;
    border-bottom: 1px solid rgb(215, 216, 219);
}

.pictureDetails-authorship-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 54px;
}

.pictureDetails-authorship-title {
    font-size: 21px;
    font-weight: bolder;
}

.pictureDetails-authorship-right {
    display: flex;
    align-items: center;
}

.pictureCarousel-photographerProfilePic {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    object-fit: cover;
}