.outterMost {
    height: 100%;
}

.pictureNewContainer {
    height: 100%;
}

.pictureShowContainer {
    height: 100%;
}

.pictureShowPage {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    border-top: 1px solid rgba(185,193,199,0.5); 
    height: 100%;
}

.pictureShowPage-left {
    min-width: 260px;
    height: 100%;
}

.pictureShowPage-left-top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid rgba(185,193,199,0.5); 
}

.pictureCreateIcon-show {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background: #0099E5;
    height: 40px;
    width: 220px;
    border: none;
    border-radius: 3px;
}

.pictureCreateIcon-show:hover {
    background: #00aaff;
}

.pictureShowPage-left-bottom {
    padding: 10px 0px 10px 10px;
}

.pictureShowPage-left-bottom-title {
    color: #0099E5;
    font-size: 14px;
    width: 219px;
    padding: 0px 10px;
}

.pictureShowPage-left-bottom-set {  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    width: 219px;
    height: 28px;
    padding: 0px 10px;
}

.pictureShowPage-left-bottom-set-title {
    color: #525558;
}

.pictureShowPage-left-bottom-set-count {
    color: #b9c1c7;
}

.pictureShowPage-mid {
    width: 80%;
    height: 100%;
}

.pictureShowPage-mid-top {
    display: flex;
    align-items: center;
    height: 60px;
    border-left: 1px solid rgba(185,193,199,0.5); 
    border-right: 1px solid rgba(185,193,199,0.5);
    border-bottom: 1px solid rgba(185,193,199,0.5); 
}

.pictureShowPage-mid-top-title {
    color: #0099E5;
    font-size: 14px;
    width: 65px;
    margin-left: 19px;
}

.pictureShowPage-mid-bottom {
    padding: 10px 10px 20px 10px;
    background-color: #f7f8fa;
    border-left: 1px solid rgba(185,193,199,0.5); 
    border-right: 1px solid rgba(185,193,199,0.5); 
    min-height: 100%;
}

.pictureShowItem-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.imageLink {
    flex-grow: 1;
    margin: 5px 5px 5px 5px;
    height: 250px;
    list-style-type: none;
    cursor: pointer;
}

.pictureShowItem {
    flex-grow: 1;
    max-width: 100%;
    min-width: 100%;
    object-fit: cover;
    height: 250px;
    border: 1px solid rgba(185,193,199,0.5); 
}

.pictureShowItem-active {
    flex-grow: 1;
    max-width: 100%;
    min-width: 100%;
    object-fit: cover;
    height: 250px;
    border: 3px solid #0099e5;
    border-radius: 3px;
}

.pictureShowPage-right {
    min-width: 340px;
    height: 100%;
}

.pictureShowPage-right-top {
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 20px;
    font-size: 18px;
    color: #222222;
    border-bottom: 1px solid rgba(185,193,199,0.5); 
}

.pictureShowPage-right-top-mock {
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 20px;
    font-size: 18px;
    color: #b9c1c7;
    border-bottom: 1px solid rgba(185,193,199,0.5); 
}

.pictureEditInputHeadings {
    color: #0099E5;
    font-size: 14px;
    width: 65px;
    margin: 25px 0px 20px 19px;
}

.pictureEditInputHeadings-mock {
    color: rgb(199, 225, 246);
    font-size: 14px;
    width: 65px;
    margin: 25px 0px 20px 19px;
}

.pictureEditTitleInput {
    width: 280px;
    height: 14px;
    font-size: 12px;
    padding: 8px 10px 8px 10px;
    border: 1px solid #eeeff2;
    color: #666;
    outline: none;
    resize: none;
    border-radius: 3px;
    margin: 0px 0px 10px 20px;
}

.pictureEditTitleInput-mock {
    width: 280px;
    height: 14px;
    font-size: 12px;
    padding: 8px 10px 8px 10px;
    border: 1px solid #eeeff2;
    color: #666;
    outline: none;
    resize: none;
    border-radius: 3px;
    margin: 0px 0px 10px 20px;
}

.pictureEditDescriptionInput {
    width: 280px;
    height: 110px;
    font-size: 12px;
    padding: 8px 10px 8px 10px;
    border: 1px solid #eeeff2;
    color: #666;
    outline: none;
    border-radius: 3px;
    resize: none;
    margin: 0px 0px 10px 20px;
}

.pictureEditDescriptionInput-mock {
    width: 280px;
    height: 110px;
    font-size: 12px;
    padding: 8px 10px 8px 10px;
    border: 1px solid #eeeff2;
    color: #666;
    outline: none;
    border-radius: 3px;
    resize: none;
    margin: 0px 0px 10px 20px;
}

.pictureEditSubmitButton {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    background: rgb(176, 221, 172);
    height: 40px;
    width: 302px;
    border: none;
    border-radius: 3px;
    margin: 20px 0px 10px 20px;
}

.pictureEditSubmitButton-active {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    background: rgb(96, 184, 88);
    height: 40px;
    width: 302px;
    border: none;
    border-radius: 3px;
    margin: 20px 0px 10px 20px;
    cursor: pointer;
}

.pictureEditSubmitButton-mock {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    background: rgb(232, 245, 230);
    height: 40px;
    width: 302px;
    border: none;
    border-radius: 3px;
    outline: none;
    margin: 20px 0px 10px 20px;
}

.pictureEditDeleteButton {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    background: rgb(114, 118, 122);
    height: 40px;
    width: 302px;
    border: none;
    border-radius: 3px;
    margin: 20px 0px 10px 20px;
    cursor: pointer;
    transition: .25s;
}

.pictureEditDeleteButton:hover {
    background: #ff4c4c;
}

.pictureEditDeleteButton-mock {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    background: rgb(242, 242, 243);
    height: 40px;
    width: 302px;
    border: none;
    border-radius: 3px;
    margin: 20px 0px 10px 20px;
}