.picturesProfileContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.profilePictures {
    flex-grow: 1;
    margin: 15px 15px 15px 15px;
    max-height: 350px;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.personalProfile-top {
    /* background: white; */
    border-bottom: 1px solid #eeeff2;
}

.personalProfile-top-top {
    /* display: flex; */
    /* align-content: center; */
    height: 580px; 
    /* border-bottom: 1px solid #eeeff2; */
}

.personalProfile-top-top-empty {
    height: 130px;
}

.personalProfile-coverPicture {
    object-fit: contain;
    /* flex-grow: 1; */
    position: fixed;
    max-width: 100%;
    /* max-height: 580px; */
    /* position: relative; */
    z-index: -1;
}

.editProfileModal-personalPicture-wrapper:hover {
    cursor: pointer;
}

.personalProfile-pictureEdit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.personalProfile-personalPicture {
    height: 100px;
    width: 100px;
    margin-top: -50px;
    margin-left: calc(50% - 50px);
    border-radius: 50%;
    object-fit: cover;
}

.personalProfile-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bolder;
    background: #0099E5;
    border-radius: 3px;
    /* padding: 7px 10px 7px 10px; */
    width: 128px;
    height: 30px;
    margin: 10px 50px 0px 0px;

    /* margin-top: 177px; */
    /* margin-left: 50px; */
}

.personalProfile-edit:hover {
    cursor: pointer;
    background: #00aaff;
}

.personalProfile-top-bottom {
    background-color: white;
    /* border: 1px solid red; */
}

.personalProfile-name {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color:#525558;
    margin-top: 20px;
}

.personalProfile-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #B9C1C7;
    padding: 15px 0px 15px 0px;
}

.personalProfile-details-item {
    display: flex;
    flex-direction: row;
    margin: 0px 15px 0px 15px;
}

.personalProfile-detail-count {
    font-weight: bolder;
    margin-right: 5px;
}

.personalProfile-middle {
    display: flex;
    justify-content: center;
    background-color: white;
    border-bottom: 1px solid #eeeff2;
}

.personalProfile-middle-tab-pictures {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 15px 0px 15px 0px;
    border-bottom: 2px solid #0099E5;
    color: #0099E5;
}

.personalProfile-middle-tab-title {
    font-weight: bolder;
    margin-right: 5px;
}

.personalProfile-bottom {
    padding: 20px 0px 20px 0px;
    min-height: 500px;
    background: rgb(247,248,250);
    /* border: 1px solid red; */
}

.personalProfile-pictures {
    height: 200px;
    margin-left: 10px;
}

.editProfileModalContainer {
    display: flex;
    justify-content: center;
    /* align-items: center; */

}

.editProfileModal {
    background-color: #000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.editProfileModal-form {
    position: absolute;
    top: 4vh;
    height: 700px;
    width: 580px;
    border-radius: 3px;
    z-index: 1;
    background: white;
}
/*  */
/*  */
.editProfileModal-form-top {
    height: 130px;
    border: 1px solid red;
    z-index: 1;
}

.editProfileModal-form-top-cover {
    object-fit: contain;
    max-width: 580px;
    z-index: -1;
}

.editProfileModal-form-top-cover:hover {
    cursor: pointer;
}

.personalCoverEditModal {
    height: 100px;
    width: 200px;
    /* z-index: 2; */
    border: 1px solid red;
}

.personalCoverEditModal-top {
    height: 50px;
    width: 200px;
    /* margin-top: -50px; */
    /* margin-left: calc(50% - 50px); */
    /* border-radius: 50%; */
    object-fit: cover;
    /* position: absolute; */
    /* z-index: 2; */
    /* border: 1px solid red; */
}

.personalCoverEditModal-top:hover {
    cursor: pointer;
    z-index: 2;
}

.personalCoverEditModal-bottom {
    height: 50px;
    width: 200px;
    /* border: 1px solid red; */
}
.personalCoverEditModal-top:hover {
    cursor: pointer;
    z-index: 2;
}

.profileCoverModal {
    background-color: #000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* z-index: 2;  */
    border: 1px solid red;
}

.profileCoverModal-container {
    display: flex;
    flex-direction: column;
    width: 1025px;
    height: 700px;
    position: fixed;
    /* z-index: 3; */
    border: 1px solid red;
}

/*  */
/*  */
.editProfileModal-form-middle {
    height: 495px;
    z-index: 1;
    background: #F7F8FA;
    border: 1px solid red;
}

.editProfileModal-form-middle-inputs {
    background: #F7F8FA;
    z-index: 1;
}

.personalEdit-personalPicture {
    height: 100px;
    width: 100px;
    margin-top: -50px;
    margin-left: calc(50% - 50px);
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
}

.editProfileModal-form-bottom {
    height: 75px;
    background: #F7F8FA;
    border: 1px solid red;
}

.editProfileModal-profile-input {
    height: 100px;
    width: 100px;
    z-index: 1;
}
