.picturesProfileContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-top: 60px;
    top: 0;
}

.profileContainer {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.profileContainer-modal {
    position: fixed;
    overflow: hidden;
}

.personalProfileContainer-modal {
    position: fixed;
    z-index: 1;
    overflow: hidden;
}

.personalProfile-top {
    border-bottom: 1px solid #eeeff2;
}

.personalProfile-top-top {
    height: 580px; 
}

.personalProfile-top-top-empty {
    height: 130px;
}

.personalProfile-coverPicture {
    object-fit: contain;
    position: fixed;
    max-width: 100%;
    z-index: -1;
}

.editProfileModal-personalPicture-wrapper {
    border: 2px solid #fff;
}

.editProfileModal-personalPicture-wrapper:hover {
    cursor: pointer;
}

.personalProfile-pictureEdit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.personalProfile-personalPicture {
    height: 100px;
    width: 100px;
    margin-top: -50px;
    margin-bottom: 50px;
    margin-left: calc(50% - 50px);
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
}

.personalProfile-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bolder;
    background: #0099E5;
    border-radius: 3px;
    width: 128px;
    height: 30px;
    margin: 10px 50px 0px 0px;
}

.personalProfile-edit:hover {
    cursor: pointer;
    background: #00aaff;
}

.personalProfile-top-bottom {
    background-color: white;
}

.personalProfile-name {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color:#525558;
    margin-top: -30px;
}

.personalProfile-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #B9C1C7;
    padding: 15px 0px 15px 0px;
}

.personalProfile-details-item {
    display: flex;
    flex-direction: row;
    margin: 0px 15px 0px 15px;
}

.personalProfile-detail-count {
    font-weight: bolder;
    margin-right: 5px;
}

.personalProfile-middle {
    display: flex;
    justify-content: center;
    background-color: white;
    border-bottom: 1px solid #eeeff2;
}

.personalProfile-middle-tab-pictures {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 15px 0px 15px 0px;
    border-bottom: 2px solid #0099E5;
    color: #0099E5;
}

.personalProfile-middle-tab-title {
    font-weight: bolder;
    margin-right: 5px;
}

.personalProfile-bottom {
    padding: 20px 0px 20px 0px;
    min-height: 500px;
    background: rgb(247,248,250);
}

.personalProfile-pictures-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.personalProfile-pictures {
    flex-grow: 1;
    max-width: 100%;
    object-fit: cover; 
    height: 200px;
    margin: 5px;
}

.editProfileModalContainer {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
}

.editProfileModal {
    background-color: #000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.editProfileModal-form {
    position: fixed;
    margin-left: calc(50% - 290px);
    top: 13vh;
    width: 580px;
    z-index: 1;
    border-radius: 3px;
    background:#F7F8FA;
    font-family: Arial, Helvetica, sans-serif;
}

.editProfileModal-form-top {
    height: 130px;
}

.editProfileModal-form-top-cover {
    object-fit: cover;
    width: 580px; 
    height: 130px;
}

.editProfileModal-form-top-cover:hover {
    cursor: pointer;
}

.personalCoverEditModal {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    position: fixed;
    height: 100px;
    width: 200px;
    margin-top: -35px;
    margin-left: 190px;
    border-radius: 3px;
    border: 2px solid #c7ced2;
    background: #F7F8FA;
    box-shadow: 0 2px 25px rgba(0,0,0,0.2);
}

.personalCoverEditModal-arrow-outer {
    height: 20px;
    width: 20px;
    position: fixed;
    margin-top: -40px;
    margin-left: 280px;
    transform: rotate(45deg);
    background: #c7ced2;
}

.personalCoverEditModal-arrow-inner {
    height: 14px;
    width: 14px;
    position: fixed;
    margin-top: -22px;
    margin-left: 76px;
    transform: rotate(45deg);
    background-color: inherit;
}

.personalCoverEditModal-top {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 10px 15px;
    background-color: #f7f8fa;
    font-size: 14px;
    color: #71767A;
}

.personalCoverEditModal-top:hover {
    cursor: pointer;
    background-color: #eeeff2;
}

.personalCoverEditModal-bottom {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    font-size: 14px;
    background-color: #f7f8fa;
    color: #71767A;
    height: 100%;
    border-top: 1px solid #eeeff2;
}

.personalCoverEditModal-bottom:hover {
    cursor: pointer;
    background-color: #eeeff2;
}

.profileCoverModal {
    background-color: #000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.profileCoverModal-container {
    bottom: 10vh;
    left: 10vw;
    display: flex;
    flex-direction: column;
    width: 80%;
    min-width: 700px;
    max-height: 700px;
    height: 80%;
    position: fixed;
    overflow: hidden;
    background-color: white;
}

.profileCoverModal-top {
    display: flex;
    align-items: center;
    height: 26px;
    width: calc(100% - 30px);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #0099E5;
    background-color: #f7f8fa;
    padding: 10px 15px;
    border-bottom: 1px solid #b9c1c7;
}

.profileCoverModal-mid {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 15px;
    z-index: -1;
    overflow-y: auto;
}

.profileCoverModal-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: #f7f8fa;
    padding: 10px 15px;
    border-top: 1px solid #b9c1c7;
    bottom: 0;
    position: absolute;
    height: 26px;
    width: calc(100% - 30px);
}

.profileCoverModal-bottom-cancel {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100px;
    height: 30px;
    background-color: #f7f8fa;
    border-color: rgba(185,193,199,0.5);
    border-radius: 3px;
    text-shadow: none;
    color: #71767a;
    font-size: 14px;
    font-weight: bold;
    padding: 0px 28px;
}

.profileCoverModal-bottom-cancel:hover {
    cursor: pointer;
    background-color: #eeeff2;
}

.profileCoverModal-bottom-save {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 90px;
    height: 30px;
    background-color: #0099E5;
    border: 1px solid #0099e5;
    border-radius: 3px;
    text-shadow: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 0px 28px;
    margin-left: 12px;
}

.profileCoverModal-bottom-save:hover {
    cursor: pointer;
    background: #00aaff;
    border: 1px solid #00aaff;
}

.editProfileModal-form-middle {
    /* position: absolute; */
    background: #F7F8FA;
}

.personalEdit-personalPicture {
    height: 100px;
    width: 100px;
    margin-top: -50px;
    margin-left: calc(50% - 50px);
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    border: 2px solid #fff;
}

.editProfileModal-form-middle-inputs {
    height: 100%;
    background: #F7F8FA;
}

.editProfileModal-form-middle-inputs-names {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    padding: 0px 20px 10px;
}

.editProfileModal-form-middle-inputs-name {
    display: flex;
    flex-direction: column;
}

.editProfileModal-form-middle-inputs-lastname {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.editProfileModal-form-middle-inputs-heading {
    margin-bottom: 10px;
    font-size: 14px;
    color: #0099E5;
}

.editProfileModal-form-middle-inputs-name-input {
    width: 243px;
    height: 19px;
    font-size: 14px;
    padding: 8px 10px;
    border: 1px solid rgba(185,193,199,0.5);
    color: #666;
    outline: none;
    resize: none;
    border-radius: 3px;
}

.editProfileModal-form-middle-inputs-location {
    width: 540px;
    height: 63px;
    display: flex;
    flex-direction: column;
    padding: 0px 20px 10px;
    margin-bottom: 10px;
}

.editProfileModal-form-middle-inputs-city-input {
    width: 243px;
    height: 19px;
    font-size: 14px;
    padding: 8px 10px;
    border: 1px solid rgba(185,193,199,0.5);
    color: #666;
    outline: none;
    resize: none;
    border-radius: 3px;
}

.editProfileModal-form-middle-inputs-country-input {
    width: 243px;
    height: 19px;
    font-size: 14px;
    padding: 8px 10px;
    margin-left: 10px;
    border: 1px solid rgba(185,193,199,0.5);
    color: #666;
    outline: none;
    resize: none;
    border-radius: 3px;
}


.editProfileModal-form-middle-inputs-location-inputs {
    display: flex;
    flex-direction: row;
}

.editProfileModal-form-middle-inputs-about {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 10px;
    margin-bottom: 10px;
}

.editProfileModal-form-middle-inputs-about-input {
    width: 518px;
    height: 95px;
    font-size: 14px;
    padding: 8px 10px;
    border: 1px solid rgba(185,193,199,0.5);
    color: #666;
    outline: none;
    border-radius: 3px;
    resize: none;
}

.editProfileModal-form-bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 75px;
    width: 540px;
    background: #F7F8FA;
    padding: 0px 20px;
    border-top: 1px solid #eeeff2;
}

.editProfileModal-form-bottom-cancel {
    text-decoration: none;
    border: none;
    background: #F7F8FA;
    color: #71767A;
    font-size: 14px;
}

.editProfileModal-form-bottom-cancel:hover {
    cursor: pointer;
    opacity: 0.7;
}

.editProfileModal-form-bottom-submit {
    border: #34BF49;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    background: #34BF49;
    padding: 0;
    margin-left: 20px;
    height: 30px;
    width: 75px;
    border-radius: 3px;
}

.editProfileModal-form-bottom-submit:hover {
    background: #41cb56;
    cursor: pointer;
}