.sessionErrorContainer {
    display: flex;
    /* align-items: flex-start; */
    justify-content: center;
    width: 100%;
    /* border: 1px solid red; */
}

.sessionLogInButton {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #525558;
    margin: 0px 40px;
    padding: 0px 20px;
    height: 36px;
    width: 70px;
    /* border-radius: 25px; */
}

.sessionLogInButton:hover {
    color: #0099E5;
}

.sessionSignUpButton {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #34BF49;
    border-bottom: 1px solid #34BF49;
    margin: 0px 40px;
    padding: 0px 20px;
    height: 60px;
    width: 65px;
}

.sessionSignUpButton:hover {
    background: #41cb56;
}

.sessionFormBox {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgba(185,193,199,0.5);
    width: 400px;
    height: 400px;
    margin: 0 auto;
    margin-top: 155px;
    background-color: white;
    padding: 20px 20px 20px 20px;
}

.sessionForm {
    width: 80%;
    margin: 0 auto;
    
}

.sessionFormHeading {
    display: flex;
    justify-content: center;
    color: #525558;
    font-size: 24px;
    font-weight: lighter;
    margin: 0 auto;
}

.sessionTitle {
    color: #71767a;
    font-size: 14px;
    font-weight: lighter;
    margin-bottom: 2px;
}

.sessionTitle-error {
    color: #ff4c4c;
    font-size: 14px;
    font-weight: lighter;
    margin-bottom: 2px;
}

.sessionInput {
    height: 40px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #525558;
    border-radius: 3px;
    border: 1px solid rgba(185,193,199,0.5); 
}
.sessionInput-error {
    height: 40px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #525558;
    border-radius: 3px;
    border: 1px solid #ff4c4c;
}


.sessionSubmit {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    background: #34BF49;
    height: 40px;
    width: 101.25%;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
}

.sessionSubmit:hover {
    background: #41cb56;
}

.sessionDemoLogIn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    background: #0099E5;
    height: 40px;
    width: 101.25%;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
}

.sessionDemoLogIn:hover {
    background: #00aaff;
}