.welcomeHeader{
    height: 100%;
    width: 100%;
}

.headerImage {
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url('amazon-jungle.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.navBar {
    display: flex;
    align-items: center;
    align-content: flex-end;
    justify-content: space-between;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    z-index: 1;
    /* border: 1px solid red; */
}

.logo {
    margin: 0px 25px 4px 25px;
    display: flex;
    align-items: center;
    height: 90px;
    z-index: 1;
    /* border: 1px solid red; */
}

.nav-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: 90px;
    z-index: 1;
    /* border: 1px solid red; */
}

.navBar-splash-item {
    margin: 0px 10px;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    width: 60%;
    z-index: 1;
    /* border: 1px solid red; */

}

.welcomeButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0px;
    width: 300px;
    height: 70px;
    font-size: 14px;

}

.logInButton {
    color: white;
    min-width: 67px;

}

.logInButton:visited {
    color: white;
    width: 67px;
}

.signUpButton {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    background: #0099E5;
    margin: 0px 25px 0px 16px;
    padding: 0px 15px;
    height: 36px;
    width: 70px;
    border-radius: 25px;
}

.signUpButton:hover {
    background-color: #00aaff;
}

.welcomeMessages {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 270px 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    z-index: 1;
    /* border: 1px solid red; */

}

.titleMessage {
    text-align: center;
    font-size: 48px;
    z-index: 1;
    /* border: 1px solid red; */
}

.subtitleMessage {
    text-align: center;
    font-size: 24px;
    z-index: 1;
    /* border: 1px solid red; */
}

.joinButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background: #0099E5;
    height: 55px;
    width: 170px;
    border-radius: 50px;
    z-index: 1;
    /* border: 1px solid red; */
}

.joinButton:hover {
    background-color: #00aaff;
}
